RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
RewriteRule ^views.*$ /stock/ [R,L]
RewriteRule ^controllers.*$ /stock/ [R,L]
RewriteRule ^libs.*$ /stock/ [R,L]